<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head th:replace="fragments/header :: header('Account Settings')">
</head>
<body>
    <main>
        <h2>Account Settings</h2>
        <form th:action="@{/update}" method="post">
            <label for="email">Email:</label>
            <input type="email" th:value="${user.email}" name="email" required>
            
            <label for="password">New Password:</label>
            <input type="password" name="password" required>

            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" name="confirm_password" required>
            
            <button type="submit">Update</button>
        </form>
    </main>
</body>
</html>
