<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Form - Welcome to My Blog</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/post.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">

    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    
    <main>
        <h1 class="text-center">Blog Posts Overview</h1>
        <div class="text-center mb-20">
            <a href="/blogForm" class="btn btn-primary">Go to Blog Form</a>
        </div>
        <div th:replace="fragments/post-list :: post-list"></div>
    </main>
</body>
</html>