<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout/default"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Blog Post - Welcome to My Blog</title>
    
    <meta name="_csrf" th:content="${_csrf.token}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header th:replace="~{fragments/header :: header}"></header>
      <main>
        <div class="form-wrapper">
          <div th:replace="~{fragments/blog-form :: blog-form}"></div>
        </div>
      </main>
      <script src="/js/app.js"></script>
  </body>
</html>
