<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - Welcome to My Blog"></title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    
    <main>
        <div th:replace="~{fragments/login-form :: login-form}"></div>
        <div th:replace="~{fragments/register-form :: register-form}"></div>
    </main>
    
    <script src="/js/login-register.js"></script>
</body>
</html>
