<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - Welcome to My Blog"></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    
    <main>
        <div th:replace="~{fragments/login-form :: login-form}"></div>
        <div th:replace="~{fragments/register-form :: register-form}"></div>
    </main>
    
    <script src="/js/login-register.js"></script>
</body>
</html>
