<!-- src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<div th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{/logout}" th:if="${session != null}">Logout</a></li>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/blogForm}">Create Post</a></li>
        </ul>
    </nav>
    <h1>Welcome to Your Blog</h1>
    <div th:if="${#authentication.principal != null}">
        <span>Logged in: <span th:text="${#authentication.principal.username}">Username</span></span>
    </div>
</div>
</body>
</html>
