<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Post Fragment -->
    <div th:fragment="postFragment(post)" class="blog-post">
        <h3 th:text="${post.title}">Post Title</h3>
        <p>Author: <span th:text="${post.author != null ? post.author : 'Anonymous'}"></span></p>
        <p th:text="${#strings.substring(post.content, 0, 200)} + '...'">Post content preview...</p>
        <a th:href="@{/post/{id}(id=${post.id})}" class="button">Read More</a>
    </div>
</body>
</html>
