<!-- Post by id Fragment with Post Details -->
<div th:fragment="postPost">
    <div class="post-container">
        <h2>Blog Post</h2>
        <div th:if="${post}" class="post">
            <h3 th:text="${post.title}">Default Post Title</h3>
            <p th:text="${post.content}">Default post content...</p>
            <p>Posted on <span th:text="${#temporals.format(post.createdAt, 'dd MMMM yyyy')}"></span> by <span th:text="${post.author.username}">Default Author</span></p>
        </div>
        <div th:unless="${post}">
            <p>No posts available. Check back soon!</p>
        </div>
    </div>
</div>
